<article class="blog-card">
    {{!-- <a href="/blog/{{id}}"> --}}
    <section class="title-section">
        <h3 class="title">{{blog_title}}</h3>
        <p class="user">By {{username}}</p>
    </section>

    <section class="content-section">
        <p>{{content}}</p>
    </section>
   
</article>


    <section class="comment-section">
       
    </section>
</article>