<article class="login-card">
    <div class="title"></div>
    <div class="content">
        <form id="signup" action="input">
            <input id="username" type="text" placeholder="Username">
            <input id="password" type="text" placeholder="Password">
            <button class="submit">Sign Up</button>
            </form>

            <form id="login" action="input">
            <input  id="loginUsername" type="text" placeholder="Username">
            <input id="loginPassword" type="text" placeholder="Password">
            <button class="submit">Sign In</button>
            </form>
    </div>
</article>
<script src="/js/loginField.js"></script>