<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>BlogSpot</title>
</head>
<body>
    <header class="nav">
        <h1>BlogSpot</h1>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Blogs</a></li>
            <li><a href="">Log In</a></li>
            <li><a href="">Sign Up</a></li>
        </ul>
    </header>

    <main>
    
    </main>
    
</body>
</html>