{{!-- <h1>{{userData.username}}</h1>
<h3>{{userData.email}}</h3> --}}
{{!-- for each blog, the 'blog-details' partial is used to render blog data --}}
{{#each user}}
{{!-- chevron/angle brackets indicate a partial --}}
{{>dashboard-details}}
{{/each}}